/* font style */
.inter-font {
    font-family: "Inter", sans-serif;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;

}

body {
    background: #1A0B2E;
    /* max-width: 1600px; */
}


/* header nav style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 75%;
    max-width: 1200px;
    padding: 24px 0;

}

nav ul a {
    text-decoration: none;
}

ul li {
    list-style-type: none;
    margin-left: 32px;
}

ul a {
    color: white;
    font-size: 16px;
    font-weight: 500;
}

nav ul {
    display: flex;

}

.nav-btn {
    display: flex;
    gap: 4px;
    padding: 14px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: linear-gradient(to right top, #F7E93F, #FB09B4, #9100F8);
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

.nav-hamburger {
    display: none;
}

/* header-container-style */
.header-container {
    background-image: url(assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;


}

.header-cont {
    margin: 100px auto;

}

.header-content {
    position: relative;
    height: 350px;
    width: 350px;
    margin: 0 auto;
}

.header-logo-bg {}

.header-mic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-new {
    color: black;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 50px;
    background-color: #00FF88;
    position: absolute;
    top: 12px;
    right: 20px;


}

.header-titel {
    font-size: 60px;
    font-weight: 800;
    color: white;
    text-align: center;
    margin-top: 40px;
}

.header-description {
    font-size: 16px;
    font-weight: 400;
    color: white;
    text-align: center;
    margin-top: 8px;
}

.tech-btn-container {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-top: 24px;
}

.tech-listen-btn {
    font-size: 16px;
    font-weight: 600;
    color: white;
    display: flex;
    gap: 8px;
    padding: 10px 20px;
    border-radius: 40px;
    background: linear-gradient(to right top, #F7E93F, #FB09B4, #9100F8);
    cursor: pointer;
}

.tech-sub-btn {
    font-size: 16px;
    font-weight: 600;
    color: #00FF88;
    border: 1px solid #00FF88;
    display: flex;
    gap: 8px;
    border-radius: 40px;
    padding: 12px 20px;
    cursor: pointer;
}

/* about section style */
.about-section {
    width: 75%;
    margin: 0 auto;

}

.about-header {
    font-size: 48px;
    font-weight: 700;
    color: white;
    text-align: center;
    margin-top: 50px;
}

.about-description {
    font-size: 16px;
    font-weight: 400;
    color: white;
    text-align: center;
    margin-top: 15px;
}

.about-end {
    font-size: 16px;
    font-weight: 400;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 120px;
}

.about-rating {
    display: flex;
    gap: 80px;
    justify-content: center;
}

.rating-titel {
    font-size: 48px;
    font-weight: 900;
    color: #00FF88;
    text-align: center;
}

.rating-description {
    font-size: 16px;
    font-weight: 400;
    color: white;
    margin-top: 16px;
    text-align: center;
}

/* choose section style */
.choose-section{
    margin: 120px auto;
}
.choose-title {
    font-size: 48px;
    font-weight: 700;
    color: white;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 40px;
}

.choose-container {
    width: 75%;
    margin: 0 auto;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.card {
    background-color: #35116566;
    border-radius: 40px;
    padding: 40px;
}
#sideber img{
    margin-top: 108px;
}
#sideber {
    grid-row: span 2;
    
}

#side-colum {
    
    grid-column: span 2;
    
}

#side-colum2 {
    
    grid-column: span 2;
    

}

#side-colum3 {
    
    grid-column: span 2;
   

}

.card-title {
    font-size: 24px;
    font-weight: 700;
    color: white;
}

.card-description {
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.choose-card {
    grid-row: span 2;
}

/* responsive style */
@media screen and (max-width:576px) {
    nav {
        width: 92%;

    }

    .nav-hamburger {
        display: block;
    }

    nav ul {
        display: none;
    }

    .nav-btn {
        display: none;
    }

    /* header style */
    .header-container {
        width: 100%;
        /* max-width: 576px; */
        height: 466px;
    }

    .header-mic img {
        width: 80px;
        height: 80px;
    }

    .header-content {
        width: 200px;
        height: 200px;
    }

    .header-logo-bg img {
        width: 200px;
        height: 200px;
    }

    .header-new {
        font-size: 16px;
        top: 2px;
        right: 2px;
    }

    .header-titel {
        margin-top: 24px;
        font-size: 40px;
    }

    .header-cont {
        margin: 40px 10px;
    }

    /* about section style */
    .about-section {
        margin: 40px auto;
    }

    .about-rating {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
    }

    .about-header {
        font-size: 36px;
    }

    .about-description br {
        display: none;
    }

    .about-header {
        margin-top: 0;
    }

    .about-end {
        margin-bottom: 80px;
        margin-top: 10px;
    }
    /* choose section */
    .choose-container{
        grid-template-columns: repeat(1, 1fr);
    }
    
    .choose-title{
        font-size: 32px;
    }
}