/* font style */
.inter-font {
    font-family: "Inter", sans-serif;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;

}

body {
    background: #1A0B2E;
    /* max-width: 1600px; */
}


/* header style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 75%;
    max-width: 1200px;
    padding: 24px 0;

}

nav ul a {
    text-decoration: none;
}

ul li {
    list-style-type: none;
    margin-left: 32px;
}

ul a {
    color: white;
    font-size: 16px;
    font-weight: 500;
}

nav ul {
    display: flex;

}

.nav-btn {
    display: flex;
    gap: 4px;
    padding: 14px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: linear-gradient(to right top, #F7E93F, #FB09B4, #9100F8);
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

.nav-hamburger {
    display: none;
}

/* responsive style */
@media screen and (max-width:576px) {
    nav {
       width: 92%;
        
    }

    .nav-hamburger {
        display: block;
    }

    nav ul {
        display: none;
    }

    .nav-btn {
        display: none;
    }
}